[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pyflakes = "*"
autopep8 = "*"
pylint = "*"
coverage = "*"
pytest = "*"
requests = "*"
fakeredis = "*"
vcrpy = "*"
sanic-testing = "*"
pytest-env = "*"
pytest-asyncio = "*"
nest-asyncio = "*"
pudb = "*"
pre-commit = "*"
black = "*"
wcwidth = "*"

[packages]
connexion = "*"
python-jose = "*"
sanic = ">=22.3"
erppeek = "*"
sanic-jwt = "*"
pytz = "*"
passlib = "*"
pony = "*"
environs = "*"
uvicorn = "*"
aioredis = "*"
pymongo = ">=3.12,<4.0"
motor = ">=2.5,<3.0"
pool-transport = {git = "https://github.com/Som-Energia/pool_transport.git"}
pyyaml = "*"
sentry-sdk = "*"
aiohttp = "*"
hiredis = "*"
ipdb = "*"
psycopg = "*"
