[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pyflakes = "*"
autopep8 = "*"
pylint = "*"
coverage = "*"
pytest = "*"
requests = "*"
pytest-aiohttp = "*"
fakeredis = "*"
vcrpy = "*"

[packages]
connexion = "*"
python-jose = "*"
sanic = ">=22.3"
erppeek = "*"
sanic-jwt = "*"
pytz = "*"
passlib = "*"
pony = "*"
environs = "*"
uvicorn = "*"
aioredis = "*"
pymongo = "*"
motor = "*"
pool-transport = {git = "https://github.com/Som-Energia/pool_transport.git"}
aiohttp = {extras = ["speedups"],version = "*"}
pyyaml = "*"
sentry-sdk = "*"
aiocontextvars = "*"
fakeredis = "*"
vcrpy = "*"
sanic-ext = "*"
