ERP_CONF={"server":"http://ip:port", "db":"database", "user":"user", "password":"password"}
TRANSPORT_POOL_CONF={"secure": false}
DATABASE_CONF={"database": "databasename__test"}

MONGO_CONF="mongodb://username:password@server:port/database"

CERT_FILE='/path/to/cerfile/cert.crt'
KEY_FILE='/path/to/keyfile/cert.key'
COMPANY_ID=1234567
BASE_URL='https://baseurl.com'
APIVERSION='v1'
USERNAME="test@test"
PASSWORD="test1234"
N_WORKERS=2

REDIS_CONF="redis://localhost:6379"
